@using MvcCvWebProject.Models.Entity
@model List<TblDeneyim>

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">DENEYİMLERİM</h2>
        @foreach (var item in Model)
        {

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@item.DeneyimUnvan</h3>
                    <div class="subheading mb-3">@item.DeneyimKurulus</div>
                    <p>@item.DeneyimAciklama</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@item.DeneyimBaslangicTarih - @item.DeneyimBitisTarih</span></div>
            </div>

        }
    </div>
</section>