@using MvcCvWebProject.Models.Entity
@model List<TblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!-- /.card-header -->
<div class="col-md-12">
    <!-- general form elements disabled -->
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Hakkımda Düzenleme Paneli</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <form method="post">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Ad</label>
                                <input type="text" class="form-control" name="HakkimdaAd" value="@item.HakkimdaAd">

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Soyad</label>
                                <input type="text" class="form-control" name="HakkimdaSoyad" value="@item.HakkimdaSoyad">

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Telefon</label>
                                <input type="text" class="form-control" name="HakkimdaTelefon" value="@item.HakkimdaTelefon">

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Mail</label>
                                <input type="text" class="form-control" name="HakkimdaMail" value="@item.HakkimdaMail">

                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Açıklama</label>
                                <textarea class="form-control" rows="2" name="HakkimdaAciklama">@item.HakkimdaAciklama</textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Adres</label>
                                <textarea class="form-control" rows="2" name="HakkimdaAdres">@item.HakkimdaAdres</textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Fotoğraf</label><br />
                                <img src="@item.HakkimdaGorsel" alt="Alternate Text"  width="100"/>
                                <br /><br />
                                <input type="text" class="form-control" name="HakkimdaGorsel" value="@item.HakkimdaGorsel">

                            </div>
                        </div>

                    </div>
                }
                <button class="btn btn-success">Güncelle</button>
            </form>
        </div>
        <!-- /.card-body -->
    </div>

</div>
<!-- /.card-body -->
